
<ion-view view-title="Login">
  <ion-content class="login">
    
    <h1 class="title text-center">A MOEDA</h1>
    
    <div class="icon-warper text-center">
      <i class="ion-android-radio-button-on"></i>
    </div>
    
    <form ng-submit="doLogin()" class="padding">
    
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="loginData.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <label class="">
        <button class="button button-block button-positive" type="submit">Log in</button>
      </label>
      
    </form>
    <a href="#/login/register" class="button button-clear button-dark">Registo</a>
  </ion-content>
</ion-view>
