<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable bar-dark">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content class="bar-dark">
      <ion-list class="bar-dark">
        <ion-item menu-close ng-click="login()" class="bar-dark hide">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/homepage">
          Homepage
        </ion-item>
        <ion-item menu-close href="#/app/my-coin">
          My Coin
        </ion-item>
        <ion-item menu-close href="#/app/hosted-coin">
          Hosted Coin
        </ion-item>
        <ion-item menu-close href="#/app/other-coins">
          Other Coins
        </ion-item>
        <ion-item menu-close href="#/app/other-humans">
          Other Humans
        </ion-item>
        <ion-item menu-close href="#/app/about">
          About
        </ion-item>
        <ion-item menu-close ng-click="logout()" href="#/app/logout" class="item-assertive">
          Logout
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
