<ion-view view-title="Playlist">
  <ion-content>
    <h1>{{playlist.title}}</h1>
		

		<div class="card">
  		<div class="item item-text-wrap text-center">
    		{{plataform}} - {{version}}
  		</div>
		</div>

  </ion-content>
</ion-view>
