<ion-header-bar align-title="center" class="bar-positive">  
  <h1 class="title">Register!</h1>
</ion-header-bar>

<ion-view view-title="Register">
  <ion-content >
    
    <div class="card">
      <div class="item item-text-wrap item-assertive">
        New register = new coin
      </div>
    </div>
    <form ng-submit="doLogin()" class="padding">
    
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="loginData.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <label class="">
        <button class="button button-block button-positive" type="submit">Register</button>
      </label>
      
    </form>
    <a href="#/login" class="button button-clear button-dark ">Login</a>
  </ion-content>
</ion-view>
