.login {
	background-color: rgba(46,176,209,1);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(46,176,209,1)), color-stop(70%, rgba(88,165,186,1)), color-stop(100%, rgba(88,165,186,1)));
	.title {
		color: #fff;
		padding-top: 20px;
	}

	i {
		font-size: 100px;
		color: $positive;

	}

	form {
		margin-top: 20px;
	}
}
